body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #333;
    color: rgb(255, 180, 180);
    padding: 20px;
    text-align: center;
    
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    width: 100%;
}

section {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

