body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-image: linear-gradient(rgb(73, 73, 73), rgb(178, 178, 178));
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

nav a {
    color: rgb(226, 226, 226);
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #7e7e7e;
    color: rgb(217, 215, 215);
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    width: 100%;
}

section {
    background-image: linear-gradient(rgb(238, 221, 207), rgb(182, 168, 151));
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 0 5 rgba(0, 0, 0, 0.1);
}

p {
    font-size: 25px;
}